header
    position: relative
    z-index: 2
    padding-top: 35px
    .header-container
        .header-box
            display: flex
            align-items: center
            justify-content: space-between
            position: relative
            .hamburger
                display: flex
                flex-direction: column
                grid-gap: 6px
                width: 37px
                span
                    background-color: $gray3
                    width: 22px
                    height: 2px
                    margin-left: auto
                    transition: all .3s
                    opacity: 1
                    visibility: visible
                    &:nth-of-type(2)
                        transform: translateX(-6px)
                        transition: opacity .3s
                    &:nth-of-type(3)
                        transform: translateX(-12px)
                
                &.open
                    span
                        &:nth-of-type(1)
                            transform: rotate(45deg) translateY(11px)
                        &:nth-of-type(2)
                            opacity: 0
                            visibility: hidden
                        &:nth-of-type(3)
                            transform: 
                            transform: rotate(-46deg) translateY(-11px)

            .header-page-lang
                display: flex
                align-items: center
                grid-gap: 15px
                li
                    a
                        +g-r
                        font-size: 14px
                        line-height: 16px
                        color: $gray5
                        &.active-lang
                            color: $gray3
            
    .absolute_header
        position: absolute
        left: 0
        top: 100%
        width: 100%
        padding: 26px 0
        background-image: url('../img/mask_absolute.png')
        background-size: cover
        background-position: center
        opacity: 0
        visibility: hidden
        transition: opacity .3s
        &.show
            opacity: 1
            visibility: visible
        .header_adding_container
            color: $yellow
            display: flex
            align-items: center
            grid-gap: 100px
            padding: 0 35px 70px
            a
                color: $yellow
            .left_main_links
                display: flex
                flex-direction: column
                grid-gap: 25px
                padding: 15px 100px 15px 0
                border-right: 1px solid $green_4
                a
                    +g-b
                    font-size: 20px
                    line-height: 20px
            .right_main_links
                display: grid
                grid-template-columns: repeat(3,auto)
                grid-gap: 110px
                .part_links
                    display: flex
                    flex-direction: column
                    grid-gap: 24px
                    a
                        +g-m
                        font-size: 16px
                        line-height: 20px 
