@keyframes borderBottom
  0%
    width: 0
  100%
    width: 100%

@keyframes pulse 
	0% 
		transform: scale(0.95)
		box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7)
	
	
	70% 
		transform: scale(1)
		box-shadow: 0 0 0 15px rgba(255, 177, 66, 0)
	
	
	100% 
		transform: scale(0.95)
		box-shadow: 0px 0px 10px rgba(255, 177, 66, 0)
	



.index
	background-image: url('../img/main_back.png')
	background-size: cover
	background-position: center
	.index_landing
		margin-top: 105px
		.landing-main-container
			display: flex
			.landing-left-container
				width: 530px
				flex: none
				.landing_title_block
					display: flex
					flex-direction: column
					grid-gap: 29px
					p.landing_title
						+g-b
						font-size: 65px
						line-height: 67px
						color: $gray3
					a.start_project
						+flex_center
						width: 191px
						padding: 11px 0
						background: rgba(244, 164, 66, 0.16)
						backdrop-filter: blur(3px)
						border-radius: 41px
						+g-eb
						font-size: 18px
						line-height: 22px
						color: $yellow2

				.landing_bottom_content
					display: flex
					grid-gap: 8px
					margin-top: 150px
					p
						+g-r
						font-size: 16px
						line-height: 26px
						color: $green_4
					img
						margin-top: -20px
						height: max-content
						width: max-content

			.landing-right-container
				position: relative
				.brain_img
					width: 690px
					max-height: 515px
					margin-left: -35px
					img
						width: 100%
				
				.dot_brain
					position: absolute
					bottom: 220px
					left: 100px
					background-color: $white
					width: 11.53px
					height: 11.53px
					box-shadow: 0px 0px 5px $shadow
					border-radius: 50%
					transform: scale(1)
					cursor: pointer
					animation-delay: 1s
					&:hover
						animation: pulse 2s infinite
					&:nth-of-type(2)
						top: 134px
						left: 228px
					&:nth-of-type(3)
						bottom: 162px
						left: 275px
					&:nth-of-type(4)
						top: 185px
						right: 273px
						left: unset
						bottom: unset
					&:nth-of-type(5)
						bottom: 74px
						left: 327px
					&:nth-of-type(6)
						top: 296px
						right: 114px
						bottom: unset
						left: unset
					&:nth-of-type(7)
						bottom: 45px
						right: 150px
						left: unset

			.landing-socials
				+flex_center
				flex-direction: column
				grid-gap: 19px
				a
					svg
						transition: transform .3s
						path
							transition: fill .3s
					&:hover
						svg
							transform: translateX(-10px)
							path
								fill: $yellow
								
						


				
	.index_portfolio
		margin-top: 155px
		.main-swiper-container
			display: grid
			grid-template-columns: 1fr 200px
			grid-gap: 90px
			margin-top: 45px
			overflow: hidden

			.swiper
				overflow: hidden
				width: 100%
				
				.swiper-slide
					.swiper-slide-inner
						display: flex
						flex-direction: column
						grid-gap: 17px
						.swiper-img
							height: 444px
							img
								width: 100%
								height: 100%
								border-radius: 5px
						p.swiper-inner-title
							+g-b
							font-size: 35px
							line-height: 42px
							color: $gray4
		
			.swiper-right-addings
				display: flex
				flex-direction: column
				justify-content: space-between
				align-items: center
				width: 100%
				padding-bottom: 55px

				.swiper-title-box
					p
						opacity: 0
						visibility: hidden
						transition: opacity .6s
						width: 0
						height: 0
						+g-l
						font-size: 30px
						line-height: 35px
						color: $gray2
						&.show
							opacity: 1
							visibility: visible
							width: max-content
							height: max-content

				.swiper-navigation-btn
					display: flex
					.swiper-nav-button
						width: 60px
						height: 118px
						+flex_center
						cursor: pointer
						border: 1px solid $yellow
						svg
							path
								transition: fill .3s
								stroke: $yellow

						&.swiper-prev-button
							border-top-left-radius: 119px
							border-bottom-left-radius: 119px

						&.swiper-next-button
							border-top-right-radius: 119px
							border-bottom-right-radius: 119px
							margin-top: 65px
							svg
								transform: rotate(180deg)

						&.swiper-button-disabled
							border: 1px dashed $gray2
							svg
								path
									stroke: $gray2

				.swiper-pagination-bar
					display: flex
					align-items: center
					grid-gap: 8px
					width: 100%
					.same-swiper-pagination-style
						+g-b
						font-size: 16px
						line-height: 19px
						&.image_slider__current
							color: $yellow
						&.total_length_slider
							color: $gray2
					
					.swiper-pagination-progressbar
						width: 100%
						height: 2px
						position: relative
						background-color: $gray2
						.swiper-pagination-progressbar-fill
							background-color: $yellow

	.index_service_inner
		margin-top: 170px
		.service_box
			display: grid
			grid-template-columns: repeat(3,auto)
			grid-gap: 85px 165px
			margin-top: 80px
			.service_single
				display: flex
				flex-direction: column
				grid-gap: 14px
			p.service_title
				color: $gray4
				+g-b-25
			p.service_content
				max-width: 220px
				color: $green_3
				+g-r-16
				line-height: 23px
	 
	.index_projects
		margin-top: 200px
		padding-bottom: 130px
		.index_project_main_container
			position: relative
			max-width: 1600px
			margin: 0 auto
			>.container
				position: relative
				z-index: 55
			.img_absolute
				position: absolute
				z-index: 50
				right: 0
				top: 100px
				max-width: 995px
				max-height: 761px
			.project_content
				max-width: 690px
				margin-top: 225px
				.title_row_project
					display: flex
					flex-direction: column
					grid-gap: 44px
					margin-bottom: 27px
					span
						height: 1px
						width: 183px
						background-color: $yellow
					p
						+g-b
						font-size: 90px
						line-height: 85px
						color: $gray3
				
				.project_desc
					width: 304px
					+g-r
					font-size: 16px
					line-height: 22px
					color: $gray2
					margin-bottom: 12px
					max-height: 66px
					word-break: break-word
					overflow: hidden
					text-overflow: ellipsis
					display: -webkit-box
					-webkit-box-orient: vertical
					-webkit-line-clamp: 3
				
				.port_link
					display: flex
					align-items: center
					grid-gap: 7px
					span
						+g-ital-b
						font-size: 16px
						line-height: 18px
						color: $gray3
		
	.index_awards
		margin: 130px 0 165px
		.award_main_container
			text-align: center
			.award_title
				margin: 60px 0 10px
				+g-b
				font-size: 40px
				line-height: 48px
				color: $gray4
			
			.award_content
				margin: 0 auto 6px
				width: 395px
				+g-r
				font-size: 16px
				line-height: 22px
				color: $gray4
				
			
			.award_more
				+g-eb
				font-size: 16px
				line-height: 20px
				color: $yellow
	
			.award_box
				display: grid
				grid-template-columns: 1fr 1fr
				grid-gap: 55px 115px
				margin-top: 34px
				.award_single
					display: flex
					align-items: flex-start
					justify-content: space-between
					grid-gap: 30px
					.award_single_container
						p
							color: $gray4
							text-align: right

							&.award_head
								display: flex
								flex-direction: column
								grid-gap: 12px
								+g-b
								font-size: 16px
								line-height: 24px
								color: $gray4
							&.award_body
								+g-r
								font-size: 14px
								line-height: 18px
								max-width: 326px

					&:nth-of-type(2n)
						.award_img
							order: 1
						.award_single_container
							order: 2
							p
								text-align: left

	.index_form
		.form_main_container
			display: grid
			grid-template-columns: 42% 51%
			grid-gap: 80px
			align-items: flex-start 
			.form_contact
				.entrace_form
					width: 264px
					+g-sb
					font-size: 45px
					line-height: 45px
					color: $gray3
				
				.middle_form_container
					display: flex
					flex-direction: column
					margin: 16px 0 30px
					p
						color: $gray3
						+g-eb
						font-size: 65px
						line-height: 75px
						position: relative
						padding-left: 62px
						z-index: 22
						&::before
							content: ''
							position: absolute
							width: 100%
							left: 0
							bottom: 9px
							height: 10px
							background-color: $green_4
							z-index: -1

				.form_contact_numbers
					display: flex
					align-items: center
					grid-gap: 9.5px
					margin-bottom: 20px
					margin-left: 50px
					.numbers
						display: flex
						flex-direction: column
						grid-gap: 11px
						p
							+g-b
							font-size: 30px
							line-height: 35px
							color: $gray3

				.form_socials
					display: flex
					align-items: center
					grid-gap: 27px
					margin-left: 77px
			
			.form_main
				form
					display: grid
					grid-template-columns: 1fr 1fr
					grid-gap: 42px
					.form-group
						position: relative
						&:focus-within
							&::before
								animation: borderBottom 1s linear
								
						input
							background-color: transparent
							height: 28px
							width: 100%
							padding-left: 19px
							padding-bottom: 4px
							outline: none
							color: $white
							+g-m
							font-size: 18px
							line-height: 20px
							&::placeholder
								color: $white
								+g-m
								font-size: 18px
								line-height: 20px

						&:not(.textarea_group)
							height: 28px
							&::before
								content: ''
								position: absolute
								left: 0
								bottom: 0
								height: 1px
								width: 100%
								background-color: $yellow
						
						&:not(.textarea_group):not(.select_group)
							&::after
								content: '*'
								position: absolute
								left: 0
								top: 3px
								+g-m
								font-size: 35px
								line-height: 35px
								color: $green_4

						label.error
							color: red
							+g-m
							font-size: 12px
							line-height: 14px
							margin-left: 19px !important
							margin-top: 5px
						
						&.textarea_group
							grid-column-start: 1
							grid-column-end: 3
							textarea
								width: 100%
								height: 110px
								padding: 9px 19px
								border: 1px solid $yellow
								border-radius: 5px
								outline: none
								background-color: transparent
								resize: none
								color: $white
								+g-m
								font-size: 18px
								line-height: 20px
								&::placeholder
									color: $white
									+g-m
									font-size: 18px
									line-height: 20px

						.nice-select
							width: 100%
							background-color: transparent
							border: none
							color: $white
							+g-m
							font-size: 18px
							line-height: 20px
							&::after
								content: ''
								position: absolute
								left: 0
								top: 14px
								background-image: url(../img/select_arrow.svg)
								background-size: contain
								background-position: center
								background-repeat: no-repeat
								width: 12px
								height: 12px
								transition: transform .3s
							
							&.open
								&::after
									transform: rotate(90deg)
							ul.list
								li
									color: $green_1
					button[type="submit"]
						grid-column-start: 2
						margin-left: auto
						margin-top: -20px