// Base fonts

$g-t:  'g-t',   Arial,   sans-serif
$g-l:  'g-l',   Arial,   sans-serif
$g-r:  'g-r',   Arial,   sans-serif
$g-m:  'g-m',  Arial,   sans-serif
$g-sb:  'g-sb',   Arial,   sans-serif
$g-b:  'g-b',   Arial,   sans-serif
$g-ital-b:  'g-ital-b',   Arial,   sans-serif
$g-eb:  'g-eb',   Arial,   sans-serif
$g-h:  'g-h',   Arial,   sans-serif



// Base colors

$white:                   #ffffff
$black:                   #000000
$body_back:               #273434
$gray1:               	  #4D5B5A
$gray2:               	  #9B9B9B
$gray3:               	  #ECF0E6
$gray4:                   #E9E9E9
$gray5:                   #828282
$green_1:                 #0B4B44
$green_2:                 #168E81
$green_3:                 #468680
$green_4:                 #1BB1A1
$yellow:                  #F4A442
$yellow2:                 #E6A250
$shadow:                  #1F1C45


// Base Flex

=flex_center
	display: flex
	align-items: center
	justify-content: center

=flex_between
	display: flex
	align-items: center
	justify-content: space-between

=flex_end
	display: flex
	justify-content: flex-end	
	align-items: center	

=flex_column
	display: flex
	flex-direction: column


// Base default

=btn_default
	background: none
	outline: none
	border: none
	cursor: pointer

=img_contain
	width: 100%
	height: 100%
	object-fit: contain

=img_cover
	width: 100%
	height: 100%
	object-fit: cover


// Base mixin

=g-t
	font-family: $g-t
	font-weight: 400

=g-l
	font-family: $g-l
	font-weight: 400

=g-r
	font-family: $g-r
	font-weight: 400

=g-m
	font-family: $g-m
	font-weight: 400

=g-sb
	font-family: $g-sb
	font-weight: 400

=g-b
	font-family: $g-b
	font-weight: 400

=g-ital-b
	font-family: $g-ital-b
	font-weight: 400

=g-eb
	font-family: $g-eb
	font-weight: 400

=g-h
	font-family: $g-h
	font-weight: 400

=g-r-16
	+g-r
	font-size: 16px
	line-height: 20px

=g-b-65
	+g-b
	font-size: 65px
	line-height: 67px

=g-b-25
	+g-b
	font-size: 25px
	line-height: 30px
