@import '_fonts'
@import '_vars'
@import '_header'
@import '_footer'
@import '_index'
@import '_responsive'

body
  background-color: $body_back

button
  +btn_default

.mutual_section_heading
  display: flex
  align-items: flex-end
  grid-gap: 17px
  p
    +g-b-65
    color: $yellow
  a
    +g-eb
    font-size: 16px
    line-height: 20px
    color: $gray2
    margin-bottom: 10px

.row
  > *
    padding-right: 0
    padding-left: 0

.btn_yellow
  width: 183px
  height: 40px
  +flex_center
  border-radius: 5px
  background-color: $yellow
  color: $white
  +g-b
  font-size: 18px
  line-height: 20px 