@font-face {
  font-family: "g-t";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Thin.eot");
  src: url("../fonts/Gilroy-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Thin.woff") format("woff"), url("../fonts/Gilroy-Thin.ttf") format("truetype"), url("../fonts/Gilroy-Thin.svg") format("svg");
}

@font-face {
  font-family: "g-l";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype"), url("../fonts/Gilroy-Light.svg") format("svg");
}

@font-face {
  font-family: "g-r";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype"), url("../fonts/Gilroy-Regular.svg") format("svg");
}

@font-face {
  font-family: "g-m";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype"), url("../fonts/Gilroy-Medium.svg") format("svg");
}

@font-face {
  font-family: "g-sb";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype"), url("../fonts/Gilroy-SemiBold.svg") format("svg");
}

@font-face {
  font-family: "g-b";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold.svg") format("svg");
}

@font-face {
  font-family: "g-ital-b";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-BoldItalic.eot");
  src: url("../fonts/Gilroy-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-BoldItalic.woff") format("woff"), url("../fonts/Gilroy-BoldItalic.ttf") format("truetype"), url("../fonts/Gilroy-BoldItalic.svg") format("svg");
}

@font-face {
  font-family: "g-eb";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg") format("svg");
}

@font-face {
  font-family: "g-h";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/Gilroy-Heavy.eot");
  src: url("../fonts/Gilroy-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Heavy.woff") format("woff"), url("../fonts/Gilroy-Heavy.ttf") format("truetype"), url("../fonts/Gilroy-Heavy.svg") format("svg");
}

header {
  position: relative;
  z-index: 2;
  padding-top: 35px;
}

header .header-container .header-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

header .header-container .header-box .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 6px;
  width: 37px;
}

header .header-container .header-box .hamburger span {
  background-color: #ECF0E6;
  width: 22px;
  height: 2px;
  margin-left: auto;
  -webkit-transition: all .3s;
  transition: all .3s;
  opacity: 1;
  visibility: visible;
}

header .header-container .header-box .hamburger span:nth-of-type(2) {
  -webkit-transform: translateX(-6px);
          transform: translateX(-6px);
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

header .header-container .header-box .hamburger span:nth-of-type(3) {
  -webkit-transform: translateX(-12px);
          transform: translateX(-12px);
}

header .header-container .header-box .hamburger.open span:nth-of-type(1) {
  -webkit-transform: rotate(45deg) translateY(11px);
          transform: rotate(45deg) translateY(11px);
}

header .header-container .header-box .hamburger.open span:nth-of-type(2) {
  opacity: 0;
  visibility: hidden;
}

header .header-container .header-box .hamburger.open span:nth-of-type(3) {
  -webkit-transform: rotate(-46deg) translateY(-11px);
          transform: rotate(-46deg) translateY(-11px);
}

header .header-container .header-box .header-page-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 15px;
}

header .header-container .header-box .header-page-lang li a {
  font-family: "g-r", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
}

header .header-container .header-box .header-page-lang li a.active-lang {
  color: #ECF0E6;
}

header .absolute_header {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  padding: 26px 0;
  background-image: url("../img/mask_absolute.png");
  background-size: cover;
  background-position: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

header .absolute_header.show {
  opacity: 1;
  visibility: visible;
}

header .absolute_header .header_adding_container {
  color: #F4A442;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 100px;
  padding: 0 35px 70px;
}

header .absolute_header .header_adding_container a {
  color: #F4A442;
}

header .absolute_header .header_adding_container .left_main_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 25px;
  padding: 15px 100px 15px 0;
  border-right: 1px solid #1BB1A1;
}

header .absolute_header .header_adding_container .left_main_links a {
  font-family: "g-b", Arial, sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}

header .absolute_header .header_adding_container .right_main_links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  grid-gap: 110px;
}

header .absolute_header .header_adding_container .right_main_links .part_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 24px;
}

header .absolute_header .header_adding_container .right_main_links .part_links a {
  font-family: "g-m", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

footer {
  padding: 120px 0 25px;
}

footer .footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 9px;
}

footer .footer_container .footer_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 35px;
}

footer .footer_container .footer_box ul {
  width: 470px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 22px;
}

footer .footer_container .footer_box ul li a {
  font-family: "g-b", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

footer .footer_container .footer_copyright p {
  text-align: right;
  font-family: "g-r", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
}

@-webkit-keyframes borderBottom {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes borderBottom {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 15px rgba(255, 177, 66, 0);
            box-shadow: 0 0 0 15px rgba(255, 177, 66, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0px 0px 10px rgba(255, 177, 66, 0);
            box-shadow: 0px 0px 10px rgba(255, 177, 66, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
            box-shadow: 0 0 0 0 rgba(255, 177, 66, 0.7);
  }
  70% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 15px rgba(255, 177, 66, 0);
            box-shadow: 0 0 0 15px rgba(255, 177, 66, 0);
  }
  100% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0px 0px 10px rgba(255, 177, 66, 0);
            box-shadow: 0px 0px 10px rgba(255, 177, 66, 0);
  }
}

.index {
  background-image: url("../img/main_back.png");
  background-size: cover;
  background-position: center;
}

.index .index_landing {
  margin-top: 105px;
}

.index .index_landing .landing-main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index .index_landing .landing-main-container .landing-left-container {
  width: 530px;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}

.index .index_landing .landing-main-container .landing-left-container .landing_title_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 29px;
}

.index .index_landing .landing-main-container .landing-left-container .landing_title_block p.landing_title {
  font-family: "g-b", Arial, sans-serif;
  font-weight: 400;
  font-size: 65px;
  line-height: 67px;
  color: #ECF0E6;
}

.index .index_landing .landing-main-container .landing-left-container .landing_title_block a.start_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 191px;
  padding: 11px 0;
  background: rgba(244, 164, 66, 0.16);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  border-radius: 41px;
  font-family: "g-eb", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #E6A250;
}

.index .index_landing .landing-main-container .landing-left-container .landing_bottom_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-gap: 8px;
  margin-top: 150px;
}

.index .index_landing .landing-main-container .landing-left-container .landing_bottom_content p {
  font-family: "g-r", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #1BB1A1;
}

.index .index_landing .landing-main-container .landing-left-container .landing_bottom_content img {
  margin-top: -20px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.index .index_landing .landing-main-container .landing-right-container {
  position: relative;
}

.index .index_landing .landing-main-container .landing-right-container .brain_img {
  width: 690px;
  max-height: 515px;
  margin-left: -35px;
}

.index .index_landing .landing-main-container .landing-right-container .brain_img img {
  width: 100%;
}

.index .index_landing .landing-main-container .landing-right-container .dot_brain {
  position: absolute;
  bottom: 220px;
  left: 100px;
  background-color: #ffffff;
  width: 11.53px;
  height: 11.53px;
  -webkit-box-shadow: 0px 0px 5px #1F1C45;
          box-shadow: 0px 0px 5px #1F1C45;
  border-radius: 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
  cursor: pointer;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.index .index_landing .landing-main-container .landing-right-container .dot_brain:hover {
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

.index .index_landing .landing-main-container .landing-right-container .dot_brain:nth-of-type(2) {
  top: 134px;
  left: 228px;
}

.index .index_landing .landing-main-container .landing-right-container .dot_brain:nth-of-type(3) {
  bottom: 162px;
  left: 275px;
}

.index .index_landing .landing-main-container .landing-right-container .dot_brain:nth-of-type(4) {
  top: 185px;
  right: 273px;
  left: unset;
  bottom: unset;
}

.index .index_landing .landing-main-container .landing-right-container .dot_brain:nth-of-type(5) {
  bottom: 74px;
  left: 327px;
}

.index .index_landing .landing-main-container .landing-right-container .dot_brain:nth-of-type(6) {
  top: 296px;
  right: 114px;
  bottom: unset;
  left: unset;
}

.index .index_landing .landing-main-container .landing-right-container .dot_brain:nth-of-type(7) {
  bottom: 45px;
  right: 150px;
  left: unset;
}

.index .index_landing .landing-main-container .landing-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 19px;
}

.index .index_landing .landing-main-container .landing-socials a svg {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.index .index_landing .landing-main-container .landing-socials a svg path {
  -webkit-transition: fill .3s;
  transition: fill .3s;
}

.index .index_landing .landing-main-container .landing-socials a:hover svg {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.index .index_landing .landing-main-container .landing-socials a:hover svg path {
  fill: #F4A442;
}

.index .index_portfolio {
  margin-top: 155px;
}

.index .index_portfolio .main-swiper-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 200px;
      grid-template-columns: 1fr 200px;
  grid-gap: 90px;
  margin-top: 45px;
  overflow: hidden;
}

.index .index_portfolio .main-swiper-container .swiper {
  overflow: hidden;
  width: 100%;
}

.index .index_portfolio .main-swiper-container .swiper .swiper-slide .swiper-slide-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 17px;
}

.index .index_portfolio .main-swiper-container .swiper .swiper-slide .swiper-slide-inner .swiper-img {
  height: 444px;
}

.index .index_portfolio .main-swiper-container .swiper .swiper-slide .swiper-slide-inner .swiper-img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.index .index_portfolio .main-swiper-container .swiper .swiper-slide .swiper-slide-inner p.swiper-inner-title {
  font-family: "g-b", Arial, sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #E9E9E9;
}

.index .index_portfolio .main-swiper-container .swiper-right-addings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-bottom: 55px;
}

.index .index_portfolio .main-swiper-container .swiper-right-addings .swiper-title-box p {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
  width: 0;
  height: 0;
  font-family: "g-l", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #9B9B9B;
}

.index .index_portfolio .main-swiper-container .swiper-right-addings .swiper-title-box p.show {
  opacity: 1;
  visibility: visible;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.index .index_portfolio .main-swiper-container .swiper-right-addings .swiper-navigation-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index .index_portfolio .main-swiper-container .swiper-right-addings .swiper-navigation-btn .swiper-nav-button {
  width: 60px;
  height: 118px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  border: 1px solid #F4A442;
}

.index .index_portfolio .main-swiper-container .swiper-right-addings .swiper-navigation-btn .swiper-nav-button svg path {
  -webkit-transition: fill .3s;
  transition: fill .3s;
  stroke: #F4A442;
}

.index .index_portfolio .main-swiper-container .swiper-right-addings .swiper-navigation-btn .swiper-nav-button.swiper-prev-button {
  border-top-left-radius: 119px;
  border-bottom-left-radius: 119px;
}

.index .index_portfolio .main-swiper-container .swiper-right-addings .swiper-navigation-btn .swiper-nav-button.swiper-next-button {
  border-top-right-radius: 119px;
  border-bottom-right-radius: 119px;
  margin-top: 65px;
}

.index .index_portfolio .main-swiper-container .swiper-right-addings .swiper-navigation-btn .swiper-nav-button.swiper-next-button svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.index .index_portfolio .main-swiper-container .swiper-right-addings .swiper-navigation-btn .swiper-nav-button.swiper-button-disabled {
  border: 1px dashed #9B9B9B;
}

.index .index_portfolio .main-swiper-container .swiper-right-addings .swiper-navigation-btn .swiper-nav-button.swiper-button-disabled svg path {
  stroke: #9B9B9B;
}

.index .index_portfolio .main-swiper-container .swiper-right-addings .swiper-pagination-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 8px;
  width: 100%;
}

.index .index_portfolio .main-swiper-container .swiper-right-addings .swiper-pagination-bar .same-swiper-pagination-style {
  font-family: "g-b", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.index .index_portfolio .main-swiper-container .swiper-right-addings .swiper-pagination-bar .same-swiper-pagination-style.image_slider__current {
  color: #F4A442;
}

.index .index_portfolio .main-swiper-container .swiper-right-addings .swiper-pagination-bar .same-swiper-pagination-style.total_length_slider {
  color: #9B9B9B;
}

.index .index_portfolio .main-swiper-container .swiper-right-addings .swiper-pagination-bar .swiper-pagination-progressbar {
  width: 100%;
  height: 2px;
  position: relative;
  background-color: #9B9B9B;
}

.index .index_portfolio .main-swiper-container .swiper-right-addings .swiper-pagination-bar .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background-color: #F4A442;
}

.index .index_service_inner {
  margin-top: 170px;
}

.index .index_service_inner .service_box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  grid-gap: 85px 165px;
  margin-top: 80px;
}

.index .index_service_inner .service_box .service_single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 14px;
}

.index .index_service_inner .service_box p.service_title {
  color: #E9E9E9;
  font-family: "g-b", Arial, sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
}

.index .index_service_inner .service_box p.service_content {
  max-width: 220px;
  color: #468680;
  font-family: "g-r", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  line-height: 23px;
}

.index .index_projects {
  margin-top: 200px;
  padding-bottom: 130px;
}

.index .index_projects .index_project_main_container {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
}

.index .index_projects .index_project_main_container > .container {
  position: relative;
  z-index: 55;
}

.index .index_projects .index_project_main_container .img_absolute {
  position: absolute;
  z-index: 50;
  right: 0;
  top: 100px;
  max-width: 995px;
  max-height: 761px;
}

.index .index_projects .index_project_main_container .project_content {
  max-width: 690px;
  margin-top: 225px;
}

.index .index_projects .index_project_main_container .project_content .title_row_project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 44px;
  margin-bottom: 27px;
}

.index .index_projects .index_project_main_container .project_content .title_row_project span {
  height: 1px;
  width: 183px;
  background-color: #F4A442;
}

.index .index_projects .index_project_main_container .project_content .title_row_project p {
  font-family: "g-b", Arial, sans-serif;
  font-weight: 400;
  font-size: 90px;
  line-height: 85px;
  color: #ECF0E6;
}

.index .index_projects .index_project_main_container .project_content .project_desc {
  width: 304px;
  font-family: "g-r", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #9B9B9B;
  margin-bottom: 12px;
  max-height: 66px;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.index .index_projects .index_project_main_container .project_content .port_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 7px;
}

.index .index_projects .index_project_main_container .project_content .port_link span {
  font-family: "g-ital-b", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #ECF0E6;
}

.index .index_awards {
  margin: 130px 0 165px;
}

.index .index_awards .award_main_container {
  text-align: center;
}

.index .index_awards .award_main_container .award_title {
  margin: 60px 0 10px;
  font-family: "g-b", Arial, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #E9E9E9;
}

.index .index_awards .award_main_container .award_content {
  margin: 0 auto 6px;
  width: 395px;
  font-family: "g-r", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #E9E9E9;
}

.index .index_awards .award_main_container .award_more {
  font-family: "g-eb", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #F4A442;
}

.index .index_awards .award_main_container .award_box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 55px 115px;
  margin-top: 34px;
}

.index .index_awards .award_main_container .award_box .award_single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 30px;
}

.index .index_awards .award_main_container .award_box .award_single .award_single_container p {
  color: #E9E9E9;
  text-align: right;
}

.index .index_awards .award_main_container .award_box .award_single .award_single_container p.award_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 12px;
  font-family: "g-b", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #E9E9E9;
}

.index .index_awards .award_main_container .award_box .award_single .award_single_container p.award_body {
  font-family: "g-r", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  max-width: 326px;
}

.index .index_awards .award_main_container .award_box .award_single:nth-of-type(2n) .award_img {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.index .index_awards .award_main_container .award_box .award_single:nth-of-type(2n) .award_single_container {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.index .index_awards .award_main_container .award_box .award_single:nth-of-type(2n) .award_single_container p {
  text-align: left;
}

.index .index_form .form_main_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 42% 51%;
      grid-template-columns: 42% 51%;
  grid-gap: 80px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.index .index_form .form_main_container .form_contact .entrace_form {
  width: 264px;
  font-family: "g-sb", Arial, sans-serif;
  font-weight: 400;
  font-size: 45px;
  line-height: 45px;
  color: #ECF0E6;
}

.index .index_form .form_main_container .form_contact .middle_form_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 16px 0 30px;
}

.index .index_form .form_main_container .form_contact .middle_form_container p {
  color: #ECF0E6;
  font-family: "g-eb", Arial, sans-serif;
  font-weight: 400;
  font-size: 65px;
  line-height: 75px;
  position: relative;
  padding-left: 62px;
  z-index: 22;
}

.index .index_form .form_main_container .form_contact .middle_form_container p::before {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 9px;
  height: 10px;
  background-color: #1BB1A1;
  z-index: -1;
}

.index .index_form .form_main_container .form_contact .form_contact_numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 9.5px;
  margin-bottom: 20px;
  margin-left: 50px;
}

.index .index_form .form_main_container .form_contact .form_contact_numbers .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  grid-gap: 11px;
}

.index .index_form .form_main_container .form_contact .form_contact_numbers .numbers p {
  font-family: "g-b", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  color: #ECF0E6;
}

.index .index_form .form_main_container .form_contact .form_socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 27px;
  margin-left: 77px;
}

.index .index_form .form_main_container .form_main form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 42px;
}

.index .index_form .form_main_container .form_main form .form-group {
  position: relative;
}

.index .index_form .form_main_container .form_main form .form-group:focus-within::before {
  -webkit-animation: borderBottom 1s linear;
          animation: borderBottom 1s linear;
}

.index .index_form .form_main_container .form_main form .form-group input {
  background-color: transparent;
  height: 28px;
  width: 100%;
  padding-left: 19px;
  padding-bottom: 4px;
  outline: none;
  color: #ffffff;
  font-family: "g-m", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.index .index_form .form_main_container .form_main form .form-group input::-webkit-input-placeholder {
  color: #ffffff;
  font-family: "g-m", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.index .index_form .form_main_container .form_main form .form-group input:-ms-input-placeholder {
  color: #ffffff;
  font-family: "g-m", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.index .index_form .form_main_container .form_main form .form-group input::-ms-input-placeholder {
  color: #ffffff;
  font-family: "g-m", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.index .index_form .form_main_container .form_main form .form-group input::placeholder {
  color: #ffffff;
  font-family: "g-m", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.index .index_form .form_main_container .form_main form .form-group:not(.textarea_group) {
  height: 28px;
}

.index .index_form .form_main_container .form_main form .form-group:not(.textarea_group)::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: #F4A442;
}

.index .index_form .form_main_container .form_main form .form-group:not(.textarea_group):not(.select_group)::after {
  content: '*';
  position: absolute;
  left: 0;
  top: 3px;
  font-family: "g-m", Arial, sans-serif;
  font-weight: 400;
  font-size: 35px;
  line-height: 35px;
  color: #1BB1A1;
}

.index .index_form .form_main_container .form_main form .form-group label.error {
  color: red;
  font-family: "g-m", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  margin-left: 19px !important;
  margin-top: 5px;
}

.index .index_form .form_main_container .form_main form .form-group.textarea_group {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.index .index_form .form_main_container .form_main form .form-group.textarea_group textarea {
  width: 100%;
  height: 110px;
  padding: 9px 19px;
  border: 1px solid #F4A442;
  border-radius: 5px;
  outline: none;
  background-color: transparent;
  resize: none;
  color: #ffffff;
  font-family: "g-m", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.index .index_form .form_main_container .form_main form .form-group.textarea_group textarea::-webkit-input-placeholder {
  color: #ffffff;
  font-family: "g-m", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.index .index_form .form_main_container .form_main form .form-group.textarea_group textarea:-ms-input-placeholder {
  color: #ffffff;
  font-family: "g-m", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.index .index_form .form_main_container .form_main form .form-group.textarea_group textarea::-ms-input-placeholder {
  color: #ffffff;
  font-family: "g-m", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.index .index_form .form_main_container .form_main form .form-group.textarea_group textarea::placeholder {
  color: #ffffff;
  font-family: "g-m", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.index .index_form .form_main_container .form_main form .form-group .nice-select {
  width: 100%;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-family: "g-m", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.index .index_form .form_main_container .form_main form .form-group .nice-select::after {
  content: '';
  position: absolute;
  left: 0;
  top: 14px;
  background-image: url(../img/select_arrow.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 12px;
  height: 12px;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.index .index_form .form_main_container .form_main form .form-group .nice-select.open::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.index .index_form .form_main_container .form_main form .form-group .nice-select ul.list li {
  color: #0B4B44;
}

.index .index_form .form_main_container .form_main form button[type="submit"] {
  -ms-grid-column: 2;
      grid-column-start: 2;
  margin-left: auto;
  margin-top: -20px;
}

@media (min-width: 1250px) {
  .container {
    max-width: 1200px;
  }
}

body {
  background-color: #273434;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

.mutual_section_heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  grid-gap: 17px;
}

.mutual_section_heading p {
  font-family: "g-b", Arial, sans-serif;
  font-weight: 400;
  font-size: 65px;
  line-height: 67px;
  color: #F4A442;
}

.mutual_section_heading a {
  font-family: "g-eb", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #9B9B9B;
  margin-bottom: 10px;
}

.row > * {
  padding-right: 0;
  padding-left: 0;
}

.btn_yellow {
  width: 183px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  background-color: #F4A442;
  color: #ffffff;
  font-family: "g-b", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}
/*# sourceMappingURL=common.css.map */